.ModalBackground {
    position: fixed;
    display: flex; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    background: rgba(32,35,41,.8);
    align-items: center;
}
